.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.header { grid-area: 1 / 1 / 2 / 6; }
.main { grid-area: 2 / 1 / 4 / 6; }
.div3 { grid-area: 4 / 1 / 5 / 2; }
.div4 { grid-area: 4 / 2 / 5 / 3; }
.div5 { grid-area: 4 / 3 / 5 / 4; }
.div6 { grid-area: 4 / 4 / 5 / 5; }
.div7 { grid-area: 4 / 4 / 5 / 5; }
.div8 { grid-area: 4 / 5 / 5 / 6; }
.div9 { grid-area: 5 / 1 / 6 / 2; }
.div10 { grid-area: 5 / 2 / 6 / 3; }
.div11 { grid-area: 5 / 3 / 6 / 4; }
.div12 { grid-area: 5 / 4 / 6 / 5; }
.div13 { grid-area: 5 / 5 / 6 / 6; }

.header {
    background-color: black;
    
}
.header ul {
    color: white;
    list-style:  none;
}
.header > ul.header1 {
    display: flex;
    list-style: none;
    color: aliceblue;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 3%;
    
}
#name{
    margin-right: 50%;
}

.main > ul > li{
    list-style: none;
}